<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Custom</a></li>
        <li><a href="/contact">Sedan</a></li>
        <li><a href="/contact">SUV</a></li>
        <li><a href="/contact">Truck</a></li>
    </ul>
</nav>